<div class="container">
  <h1>About me</h1>
  <p>Just a tiny little project I'm making to aggregate the ratings family and friends of the board games we have played.</p>
  <p>
    I've never asked for a numbered rating for board games from family and quite curious where they would rank certain games and what are their absolute favorites.
    I could even make a youtube video ranking the top 10 board games of my main playgroup as an average.
  </p>
  <p>I also would like to pull the average rating from at least one other site [Board Game Geeks], to learn about the process of interacting with other sites.</p>
  <p>
    This website's main goal isn't to be pretty, or even usable outside of friends and family, but would allow me to learn certain things that my other project either never touched or
    just barely scratched the surface of.
  </p>
</div>
