<p style="color: green"><%= notice %></p>
<div class="container">
  <h1><u>All Board Games Ranked</u></h1>
  </br></br>
  
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
      </br></br>
    <% end %>
  </div>
</div>


