.modal {
  /* Center and overlap on screen */
  position: fixed;
  z-index: 1;
  padding: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  overflow: auto;
  background-color: grey;
  border-radius: 5px;
}

.game-item {
  border-bottom: 2px dotted black;
  padding-top: 1em;
}

.custom-navbar {
  border-bottom : 1px solid darkblue;
  border-bottom-style: groove;
  margin-bottom: 2rem;
}

h1 {
  color: goldenrod;
}

.game-thumbnail {
  margin-left: 20rem;
  margin-top: 3rem;
}

.game-image {
  margin-left: 10rem;
}

.game-show-description {
  font-size: large;
}

/* html, .container, body {
  background-color: rgb(40, 43, 43);
  color: white;
} */